#define ZMK_POINTING_DEFAULT_SCRL_VAL 200

#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>

&mkp_input_listener { input-processors = <&zip_temp_layer 4 700>; };

&mt {
    tapping-term-ms = <300>;
    flavor = "balanced";
};

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    tapping-term-ms = <300>;
    flavor = "balanced";
};

&lt { quick-tap-ms = <300>; };

/ {
    macros {
        kaggikakko: kaggikakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_1 &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp ENTER &kp LEFT>;
            label = "KAGGIKAKKO";
        };

        kakko: kakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp ENTER &kp LEFT_ARROW>;
            label = "KAKKO";
        };

        pw1: pw1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &kp N &kp O &kp B &kp U &kp NUMBER_6 &kp N9 &kp N5 &kp N7>;
            label = "PW1";
        };

        pw2: pw2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &kp LS(B) &kp A &kp T &kp B &kp N0 &kp NUMBER_2 &kp NUMBER_1 &kp NUMBER_1>;
            label = "PW2";
        };

        pw3: pw3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &kp LS(B) &kp A &kp T &kp B &kp NUMBER_0 &kp NUMBER_2 &kp NUMBER_1 &kp NUMBER_1>;
            label = "PW3";
        };

        reiwa: reiwa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_1 &kp R &kp E &kp I &kp W &kp A>;
            label = "REIWA";
        };
    };

    behaviors {
        encoder_msc: sensor_rotate_msc {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        encoder_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
            bindings = <
&kp Q                &kp W      &kp E                 &kp R     &kp T                                                        &kp Y        &kp U           &kp I        &kp O             &kp P
&kp A                &kp S      &kp D                 &kp F     &kp G                                                        &kp H        &kp J           &kp K        &kp L             &kp MINUS
&kp Z                &kp X      &kp C                 &kp V     &kp B                                                        &kp N        &kp M           &lt 4 COMMA  &kp DOT           &kp SLASH
&mt LEFT_CONTROL F5  &kp RG(V)  &mt LEFT_SHIFT LANG2  &mkp MB4  &mt LEFT_COMMAND LANGUAGE_1  &lt 3 BACKSPACE    &lt 2 SPACE  &lt 1 ENTER  &kp LS(LG(N4))  &mkp MB3     &mt LEFT_ALT ESC  &to 2
            >;

            sensor-bindings = <&encoder_msc SCRL_DOWN SCRL_UP>;
        };

        layer_1 {
            display-name = "shortcut";
            bindings = <
&trans  &trans         &trans  &trans         &trans                                     &kp LG(W)      &kp RG(RA(LEFT_ARROW))  &kp RG(R)    &kp LA(LG(RIGHT_ARROW))  &trans
&trans  &kp LC(LEFT)   &kp F3  &kp LC(RIGHT)  &kp LS(LG(NUMBER_4))                       &kp LG(LC(Q))  &kp LG(LEFT_BRACKET)    &kp LG(F)    &kp LG(RIGHT_BRACKET)    &kp LEFT_BRACKET
&trans  &trans         &trans  &trans         &trans                                     &kp LG(Q)      &kp LG(Z)               &kp LG(A)    &kp LS(LG(RIGHT))        &kp RIGHT_BRACKET
&trans  &kp LA(LG(V))  &pw3    &trans         &pw2                  &pw1    &kaggikakko  &trans         &trans                  &kp AT_SIGN  &kp TAB                  &kp HASH
            >;

            sensor-bindings = <&inc_dec_kp LA(LG(RIGHT_ARROW)) LA(LG(RIGHT_ARROW))>;
        };

        layer_2 {
            display-name = "Number Layer";
            bindings = <
&kp TILDE        &kp PIPE        &kp PERCENT        &kp DOLLAR        &kp CARET                    &reiwa        &kp N7        &kp N8           &kp N9         &kp MINUS
&kp EXCLAMATION  &kp SLASH       &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE  &kp COLON                    &kp PLUS      &kp NUMBER_4  &kp N5           &kp NUMBER_6   &kp EQUAL
&kp F11          &kp UP_ARROW    &kp NUMBER_2       &kp NUMBER_3      &kp PLUS                     &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2     &kp NUMBER_3   &kp NON_US_BACKSLASH
&kp LEFT_ARROW   &kp DOWN_ARROW  &kp RIGHT_ARROW    &trans            &trans     &trans    &trans  &kakko        &trans        &kp RS(RC(TAB))  &kp AMPERSAND  &to 0
            >;

            sensor-bindings = <&encoder_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            display-name = "Device Layer";
            bindings = <
&none        &none           &none  &none  &bt BT_CLR                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none        &none           &none  &none  &none                                &none         &none         &none         &none         &none
&sys_reset   &none           &none  &none  &none                                &none         &none         &none         &none         &sys_reset
&bootloader  &bt BT_CLR_ALL  &none  &none  &none       &none    &studio_unlock  &none         &none         &none         &none         &bootloader
            >;

            sensor-bindings = <&encoder_msc SCRL_RIGHT SCRL_LEFT>;
        };

        layer_4 {
            status = "reserved";
            display-name = "AutoMouseLayer";
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &mkp MB1  &trans  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans  &trans    &trans
            >;
        };

        layer_5 {
            status = "reserved";
            display-name = "scroll";
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
